set ideajoin
let mapleader = ","

nmap <C-S-n> :action GotoFile<CR>
nmap <C-n> :action GotoClass<CR>
nmap <leader>q :action HideActiveWindow<CR>
nmap <leader>sv :action SplitVertically<CR>
nmap <leader>sh :action SplitHorizontally<CR>
nmap <leader>w <C-w>w
nmap <leader>e :action ShowErrorDescription<CR>
nmap <leader>q :action QuickJavaDoc<CR>
nmap <leader>tn :action NextTab<CR>
nmap <leader>tp :action PreviousTab<CR>
vmap <leader>y "+y
nmap <leader>y "+yy
nmap <C-S-a> :action GotoAction<CR>
nmap <leader>fr :action RecentFiles<CR>
map <leader>ss :action Run<CR>
nmap <leader>dt :action CloseAllUnpinnedEditors<CR>
nmap <leader>do :action CloseAllEditorsButActive<CR>
map <leader>sd :action Debug<CR>
nmap <leader>rn :action RenameElement<CR>
nmap <leader>bp :action ToggleLineBreakpoint<CR>
map <leader>rf :action ReformatCode<CR>
map <leader>tt :action Stop<CR>
map <leader>pt :action ActivateProjectToolWindow<CR>
nmap <leader>fu :action FindUsages<CR>
nmap <leader>ff :action GotoFile<CR>
nmap <leader>fc :action GotoClass<CR>
nmap <leader>gf :action FindInPath<CR>
nmap <leader>ft :action ActivateTerminalToolWindow<CR>
