set ideajoin
let mapleader = ","

" Map `Ctrl + P` to IntelliJ's 'Find File' action
nmap <C-S-n> :action GotoFile<CR>

" Map `Ctrl + Shift + N` to 'Find Class' action
nmap <C-n> :action GotoClass<CR>

nmap <leader>q :action HideActiveWindow<CR>

nmap <leader>sv :action SplitVertically<CR>
nmap <leader>sh :action SplitHorizontally<CR>
" Move to the next split (right or down)
nmap <leader>w <C-w>w

nmap <leader>tn :action NextTab<CR>
nmap <leader>tp :action PreviousTab<CR>

"In visual copy selected to clipboard, in normal yank line to clipboard
vmap <leader>y "+y
nmap <leader>y "+yy

" Map `Ctrl + Shift + A` to 'Find Action' (allows you to search for any action)
nmap <C-S-a> :action GotoAction<CR>

" Map `Ctrl + E` to 'Recent Files'

nmap <leader>fr :action RecentFiles<CR>

" Start the application with ,fs
map <leader>ss :action Run<CR>

nmap <leader>dt :action CloseAllUnpinnedEditors<CR>

nmap <leader>do :action CloseAllEditorsButActive<CR>

" Start the debugger with ,fd
map <leader>sd :action Debug<CR>

nmap <leader>rn :action RenameElement<CR>

nmap <leader>bp :action ToggleLineBreakpoint<CR>

" Reformat code with ,rf
map <leader>rf :action ReformatCode<CR>

map <leader>tt :action Stop<CR>

" Go to the Project tree with ,pt
map <leader>pt :action ActivateProjectToolWindow<CR>

nmap <leader>fu :action FindUsages<CR>

" Map ,ff to Find File
nmap <leader>ff :action GotoFile<CR>

" Map ,fc to Find Class
nmap <leader>fc :action GotoClass<CR>

nmap <leader>gf :action FindInPath<CR>

nmap <leader>ft :action ActivateTerminalToolWindow<CR>